fastapi==0.115.5
uvicorn[standard]==0.32.1
sqlalchemy==2.0.36
psycopg2-binary==2.9.10
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-multipart==0.0.17
pydantic[email]==2.10.3
pydantic-settings==2.6.1
slowapi==0.1.9
python-dotenv==1.0.1
pillow==11.0.0
